<div class="row py-4">
    <div class="col-sm-6">
        <div class="card">
        <div class="card-body shadow-sm">
            <a href="{{ url_for('eeg_generator') }}" class="btn btn-outline-dark"><h5 class="card-title">Generate synthetic EEG signal</h5></a>
        </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
        <div class="card-body shadow-sm">
            <a href="{{ url_for('eeg_loader') }}" class="btn btn-outline-dark"><h5 class="card-title">Load real EEG signal</h5></a>
        </div>
        </div>
    </div>
</div>